.container {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    margin-bottom: 40px;
    overflow: hidden;
  }
  
  .fill {
    height: 100%;
    background: #08fdd8;
    transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 0 10px #08fdd8;
  }