/* src/app/globals.css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif; /* Awla system-ui */
  background-color: #f5f5f5; /* Background gris fate7 l page kamla */
  color: #333; /* Text k7el par defaut */
}

a {
  color: inherit;
  text-decoration: none;
}