/* src/app/globals.css */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* N'bloquiw scroll, l'expérience hiya l'écran kaml */
}

body {
  background-color: #000000;
  color: #E5E7EB; 
  /* Animation bach l'page matbanch deghya */
  animation: fadeIn 1s ease-in-out;
}